
body {
	background: url('assets/bg-image.jpg') no-repeat;
	background-size: cover;
	background-color: #323740;
}
#logo {
	background: url(assets/chill-bean-logo.png) no-repeat;
	margin: 50px 0px 0px 100px;
	padding: 20px 0px 20px 0px;
}
.circles {
	background: url(assets/circles.png) no-repeat;
	padding: 0px 0px 10px 0px;
	margin: 570px 0px 0px 0px;
}
h1 {
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	color: white;
	text-align: left;
	font-size: 2.5em;
	letter-spacing: 1px;
	text-shadow: 2px 2px 15px #000000;
	margin: 0px 0px 0px 0px;
	padding: 35px 0px 5px 0px;
}
.body-section {
	background-image: url('assets/circles.png') no-repeat;
	font-family: 'PT Serif', serif;
	font-weight: lighter;
	font-size: 1.2em;
	line-height: 27px;
	letter-spacing: 1px;
	text-align: left;
	color: #ffffff;
	text-shadow: 2px 2px 12px #000000;
	
}

