* { margin:0; padding:0; box-sizing:border-box; }

body {
	background-color: #f7f7f7;
}
section {
	text-align: center;
	background-color: #f7f7f7;
}
header {
	height: 100px;
	width:100%;
	position:fixed;
	top:0;
	left:0;
}
nav {
	font-family: 'PT Sans', sans-serif;
	height: 100px;
	top: 0px;
	background: #ffffff;

}

nav a {
	color: #273135;
	font-size: 1em;
	font-weight: lighter;
	text-align: left;
	text-transform: uppercase;
	text-decoration: none;
	float: left;
	margin: 40px 70px 40px auto;
	top: 0px;
}

nav a:hover {
	color: #FF3D2C;
}

nav.clearfix {
	text-align: right;
}

h1 {
	font-family: 'PT Sans', sans-serif;
	font-size: 2em;
	font-style: center;
	font-weight: bolder;
	text-align: center;
	text-transform: uppercase;
	color: #273135;
	margin-top: 200px;
}

#logo {
	margin: 15px 0 0 50px;
	width: 75px;
	float: left;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}