* { margin:0; padding:0; box-sizing:border-box; }

body {
	background-color: #f7f7f7;
}
section {
	text-align: center;
	background-color: #f7f7f7;
}
header {
	height: 100px;
	width:100%;
	position:fixed;
	top:0;
	left:0;
}
nav {
	font-family: 'PT Sans', sans-serif;
	height: 100px;
	top: 0px;
	/*background: #ffffff;*/

}

nav a {
	color: #273135;
	font-size: 1em;
	font-weight: lighter;
	text-align: left;
	text-transform: uppercase;
	text-decoration: none;
	float: left;
	margin: 40px 70px 40px auto;
	top: 0px;
}

nav a:hover {
	color: #FF3D2C;
}

nav.clearfix {
	text-align: right;
}

nav li {
	display: inline-block;
}

nav ul {
	float: right;
}

h1 {
	font-family: 'PT Sans', sans-serif;
	font-size: 2em;
	font-weight: bolder;
	text-align: center;
	text-transform: uppercase;
	color: #273135;
}

h3 {
	font-size: 1.2em;
	font-weight: 600;
	margin-bottom: 10px;
}

footer {
	font-family: 'PT Sans', sans-serif;
	color: #f7f7f7;
	text-align: center;
	background-color: #273135;
	height: 150px;
	clear: both;
	padding: 110px 0 0;
	margin-top: 130px;
}

#logo {
	margin: 15px 0 0 50px;
	width: 75px;
	float: left;
}
#HeaderSection {
	background: url('assets/JRDevelopment/JR-Logo-large1.png') no-repeat;
	background-size: cover;
	height: 900px;
	background-position: center;
	max-width: 100%;
}

#Arrow {
	margin-top: 800px;
	position: absolute;
}

/*#HeroImg {
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
}*/

#AboutFolio {
	font-family: 'PT Sans', sans-serif;
	font-size: 1em;
	color: #273135;
	text-align: left;
	margin-top: 70px;
}

.Columns {
	display: inline-block;	
	float: left;
	margin-top: 50px;
	line-height: 24px;
}

#lead {
	font-weight: 900;
	font-size: 1.3em;
	max-width: 400px;
	margin-right: 70px;
}

.Content {
	max-width: 500px;
	margin-bottom: 30px;
}

#FolioImg img {
	max-width: 100%
}

a.NavFolio {
	font-family: 'PT Sans', sans-serif;
	font-size: .9em;
	border: 2px solid #273135;
	text-decoration: none;
	padding: 10px 40px;
	color: #273135;
}

section#NavFolioSection {
	margin-top: 80px;
}

a.NavFolio + a.NavFolio {
	margin-left:  900px;
}

a.NavFolio:hover {
	color: #ffffff;
	background-color: #273135;
	transition: 0.5s ease;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

@media screen and (min-width: 320px) { 
	#HeaderSection {
	height: 500px;	
		
}