* { margin:0; padding:0; box-sizing:border-box; }

body {
	background-color: #f7f7f7;
}
section {
	text-align: center;
	background-color: #f7f7f7;
}
header {
	height: 100px;
	width:100%;
	position:fixed;
	top:0;
	left:0;
}
nav {
	font-family: 'PT Sans', sans-serif;
	height: 100px;
	top: 0px;
	background: #ffffff;

}

nav a {
	color: #273135;
	font-size: 1em;
	font-weight: lighter;
	text-align: left;
	text-transform: uppercase;
	text-decoration: none;
	float: left;
	margin: 40px 70px 40px auto;
	top: 0px;
}

nav a:hover {
	color: #FF3D2C;
}

nav.clearfix {
	text-align: right;
}

h1 {
	font-family: 'PT Sans', sans-serif;
	font-size: 1.5em;
	font-style: center;
	font-weight: lighter;
	text-align: center;
	color: #ffffff;
}

h2 {
	font-family: 'PT Sans', sans-serif;
	color: #273135;
	font-size: 3.2em;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
}

h3 {
	font-family: 'PT Sans', sans-serif;
	color: #273135;
	font-size: 1.5em;
	font-weight: 600;
	margin-bottom: 15px;
}

section p {
	font-family: 'PT Sans', sans-serif;
	font-size: 2.6em;
	font-style: center;
	font-weight: bolder;
	text-align: center;
	line-height: 50px;
	margin: 0 auto 50px auto;
	color: #ffffff;
	width: 850px;
}

img {
	float: left;
}

footer {
	font-family: 'PT Sans', sans-serif;
	color: #f7f7f7;
	text-align: center;
	background-color: #273135;
	height: 150px;
	clear: both;
	padding: 110px 0 0;
	margin-top: 130px;
}

#ServicesSection ul {
	margin: auto auto 150px auto;
}

#ServicesSection li {
	display: block;
}

#Splash {
	background: url('assets/bg-home-image.jpg') no-repeat;
	background-size: cover;
	background-color: #f7f7f7;
	background-attachment: fixed;
	height:95vh;
	padding:400px 0 0 0;
}

#logo {
	margin: 15px 0 0 50px;
	width: 75px;
	float: left;
}

a.Ghost {
	font-family: 'PT Sans', sans-serif;
	width: 100px;
	border: 2px solid #ffffff;
	color: #ffffff;
	text-decoration: none;
	padding: 20px 40px;
}

a.Ghost + a.Ghost {
	margin-left: 50px;
}

a.Ghost:hover {
	color: #273135;
	background-color: #ffffff;
	transition: 0.5s ease;
}

#About {
	background-color: #f7f7f7;
	height: 300%;
	margin-bottom: 200px;

}

#AboutLogo {
	width: 75px;
	text-align: center;
	float: inherit;
	margin-bottom: 25px;
	margin-top: 100px;
}

#About hr {
	width: 700px;
	border-top: 1px solid #ccc;
	margin: 0 auto 25px auto;
	margin-bottom: 25px;
}

#About p {
	color: #273135;
	font-size: 1.1em;
	line-height: 24px;
	text-align: center;
	font-weight: normal;
	margin-top: 24px;
	width: 700px;
}

#FeaturedSection {
	width: 90%
	margin 0 auto;
 	background-color: #f7f7f7;
}

.GroupFolio {
	width: 100%;
	margin: auto;
	background-color: #f7f7f7;
	clear: both;
	display: -webkit-box;
	padding-bottom: 100px;
}

#ServicesSection {
	margin-top: 100px;
	text-align: center;
	display: flex;
}

.Columns {
	float: left;
	width: 310px;
	margin: auto;
	font-family: 'PT Sans', sans-serif;
	line-height: 30px;
	font-size: 1.1em;
	text-align: left;
	color: #273135;
}

a.GhostFolio {
	font-family: 'PT Sans', sans-serif;
	border: 2px solid #273135;
	text-decoration: none;
	padding: 20px 40px;
	color: #273135;
}

a.GhostFolio:hover {
	color: #ffffff;
	background-color: #273135;
	transition: 0.5s ease;
}

#ContactSection h2 {
	margin-top: 170px;
}

#ContactSection a {
	font-family: 'PT Sans', sans-serif;
	text-decoration: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
